<h2><%= params[:client] %></h2>
<%= link_to "Return Home", root_path %>
<h3>Hours this Week - Starting Monday</h3>
	<span class="hours"><%= @punches.since(Time.now.beginning_of_week).sum(:duration_in_minutes) / 60 %></span>
<h3>Hours this Month</h3>
	<span class="hours"><%= @punches.since(Time.now.beginning_of_month).sum(:duration_in_minutes) / 60%></span>
	
<h3>Last Six Months for this Client</h3>
<span class="information">Data on this chart is currently relative and cannot be used to calculate actual time spent</span>
<%= image_tag six_month_client_action_chart(params[:client]) %>
	