<h2 class="important home"><a href="/" class="home">Home</a></h2><h2 class="important project"><%= params[:project].titleize %></h2>

<h3>Hours by Client</h3>
<table width="100%" cellpadding="0" cellspacing="0">
	<tr>
		<th>client</th>
		<th>Today</th>
		<th>This Week</th>
		<th>This Month</th>
		<th>This Year</th>
	</tr>
	<% @punches.tag_counts_on(:clients).each do |a| %>
		<tr class="<%= cycle("even", "odd") %>">
			<td class="title"><span class="important client"><%= a.name %></span></td>
			<td class="hours"><%= minutes_to_hours(@punches.since(Time.now.beginning_of_day).tagged_with(a, :on => :clients).sum(:duration_in_minutes)) %></td>
			<td class="hours"><%= minutes_to_hours(@punches.since(Time.now.beginning_of_week).tagged_with(a, :on => :clients).sum(:duration_in_minutes)) %></td>
			<td class="hours"><%= minutes_to_hours(@punches.since(Time.now.beginning_of_month).tagged_with(a, :on => :clients).sum(:duration_in_minutes)) %></td>
			<td class="hours"><%= minutes_to_hours(@punches.since(Time.now.beginning_of_year).tagged_with(a, :on => :clients).sum(:duration_in_minutes)) %></td>
    <% end %>
	<tr>
		<td class="title final"></td>
		<td class="hours final"><%= minutes_to_hours(@punches.since(Time.now.beginning_of_day).sum(:duration_in_minutes)) %></td>
		<td class="hours final"><%= minutes_to_hours(@punches.since(Time.now.beginning_of_week).sum(:duration_in_minutes)) %></td>
		<td class="hours final"><%= minutes_to_hours(@punches.since(Time.now.beginning_of_month).sum(:duration_in_minutes)) %></td>
		<td class="hours final"><%= minutes_to_hours(@punches.since(Time.now.beginning_of_year).sum(:duration_in_minutes)) %></td>
	</tr>
</table>


<h3>Hours by Action</h3>
<table width="100%" cellpadding="0" cellspacing="0">
	<tr>
		<th>Action</th>
		<th>Today</th>
		<th>This Week</th>
		<th>This Month</th>
		<th>This Year</th>
	</tr>
	<% @punches.tag_counts_on(:actions).each do |a| %>
		<tr class="<%= cycle("even", "odd") %>">
			<td class="title"><span class="important action"><%= a.name %></span></td>
			<td class="hours"><%= minutes_to_hours(@punches.since(Time.now.beginning_of_day).tagged_with(a, :on => :actions).sum(:duration_in_minutes)) %></td>
			<td class="hours"><%= minutes_to_hours(@punches.since(Time.now.beginning_of_week).tagged_with(a, :on => :actions).sum(:duration_in_minutes)) %></td>
			<td class="hours"><%= minutes_to_hours(@punches.since(Time.now.beginning_of_month).tagged_with(a, :on => :actions).sum(:duration_in_minutes)) %></td>
			<td class="hours"><%= minutes_to_hours(@punches.since(Time.now.beginning_of_year).tagged_with(a, :on => :actions).sum(:duration_in_minutes)) %></td>
    <% end %>
	<tr>
		<td class="title final"></td>
		<td class="hours final"><%= minutes_to_hours(@punches.since(Time.now.beginning_of_day).sum(:duration_in_minutes)) %></td>
		<td class="hours final"><%= minutes_to_hours(@punches.since(Time.now.beginning_of_week).sum(:duration_in_minutes)) %></td>
		<td class="hours final"><%= minutes_to_hours(@punches.since(Time.now.beginning_of_month).sum(:duration_in_minutes)) %></td>
		<td class="hours final"><%= minutes_to_hours(@punches.since(Time.now.beginning_of_year).sum(:duration_in_minutes)) %></td>
	</tr>
</table>

<h3>Recent Punches</h3>
	<%= render @punches.limit(5) %>