<!DOCTYPE html>
<html>
<head>
  <title>Punchy</title>
  <%= stylesheet_link_tag "application", "960", "jquery-ui-1.8.2.custom" %>
  <%= javascript_include_tag "jquery-1.4.2.min", "jquery-ui-1.8.2.custom.min", "rails", "application" %>
  <%= csrf_meta_tag %>
</head>
<body>
<div class="container_12">
	<div class="grid_12">
		<div id="header">
			<h1><a href="/">Punchy</a></h1>
		</div>
	</div>
	<div class="clear"></div>
	<div class="grid_8">
		<%= yield %>
	</div>
	<div class="grid_4">
		<div class="key">
		<h4>Input Key</h4>
		*action
		<br />
		#project
		<br />
		@client
		<h4>Time Formats</h4>
		30 minutes
		<br />
		1.5 hours, 1 hour
		<br />
		1 day (8 hours)
		</div>
		<h3>Recent Projects</h3>
		<ul class="projects">
		<% Punch.project_counts.each do |project| %>
			<li><a href="<%= project_path(:project => project.name) %>" class="project important"><%= project %></a> (<%= hours_for(project) %>)</li>
		<% end %>
		</ul>
		
		<h3>Recent Clients</h3>
		<ul class="projects">
		<% Punch.client_counts.each do |client| %>
			<li><a href="<%= client_path(:client => client.name) %>" class="client important"><%= client %></a> (<%= hours_for(client) %>)</li>
		<% end %>
		</ul>
		
		<h3>Recent Actions</h3>
		<ul class="projects">
		<% Punch.action_counts.each do |action| %>
			<li><a href="<%= action_path(:act => action.name) %>" class="action important"><%= action %></a> (<%= hours_for(action) %>)</li>
		<% end %>
		</ul>
	</div>
	<div class="clear"></div>
	<div class="grid_12" id="footer">
		Created by <a href="http://www.mazondo.com">Ryan Quinn</a>
		<br />
		<a href="http://www.opensourcerails.com/projects/607989-Punchy" title="Open Source Rails - Punchy">Punchy on Open Source Rails</a> | <a href="http://www.github.com/mazondo/Punchy">Punchy on Github</a>
		
	</div>
</div>

</body>
</html>
